<div class="home-overlay" *ngIf="isHidden">-
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="video-overlay-container overlay-container text-center">
				<h4>ISOQOL PROMIS global screening demo</h4>
				<!--<a class="close-icon"><img (click)="closeModal()" src="assets/close.png" width="4%" alt="Close" /></a>-->
				<!--<img src="assets/img/overlay.jpg" width="100%" alt="not found">-->
				<div>
				<h5>
						This demo illustrates how the PROMIS Global Health can be used to screen for follow-up domains to assess using CAT measures.
				</h5>
				</div>
				<div class="p-4 mb-4 text-left">
					<h5>
						The demo consists of three sections:
						<ul>
							<li class="p-2 mb-2">Screeneing criteria questions: The filtering configuration of the global health takes place here. (Upper left-hand section)</li>
							<li class="p-2 mb-2">Patient's scheduled quesstionnaired: This is the real time assessment list for the patient. (Upper right-hand section)</li>
							<li class="p-3 mb-3">Assessment section: The patient view of the demo. (Bottom half of the screen)</li>
						</ul>
					</h5>	
				</div>
				<div class="p-4 mb-4">
					<h5>
						No data is stored in this demo.  This is only for illustrating the assessment workflow. To continue with the demo ackowledge that no data is available.
					</h5>	
				</div>
				<div class="p-4 mb-4">
					<button type="button" class="btn btn-secondary btn-lg" (click)="closeModal()">Acknowledge and continue</button>
				</div>
			</div>
		</div>
	</div>
</div>
